[LootLockerSettings]
; You can get your api key from https://console.lootlocker.com/settings/api-keys
api_key="dev_d8683b55b5f9497a9fd821b574632d66"
; You can get your domain key from https://console.lootlocker.com/settings/api-keys
domain_key="mvwsgvzg"
; The game version must follow a semver pattern. Read more at https://semver.org/
game_version=""
; The configured Log Level for LootLocker, Set to "None" to silence LootLocker logs completely
; Possible values are: "Debug", "Verbose", "Info", "Warning", "Error", "None"
logLevel="Info"
